@{
    ViewData["Title"] = "Login Admin";
}

<h2>Painel Administrativo</h2>

<form method="post">
    <input type="email" placeholder="Email admin" class="form-control mb-2" />
    <input type="password" placeholder="Senha" class="form-control mb-2" />

    <button class="btn btn-dark w-100">
        Entrar como Admin
    </button>
</form>